@model List<LoaiModel>

<table class="table tbl-contents">
    <tbody id="DataSearching">
        @{
            var count = 0;
        }
        @foreach (var item in Model.ToList())
        {
            count++;
            <tr>
                <td class="w-5p">
                    @count
                </td>
                <td class="w-15p">
                    @item.TenLoai
                </td>
                <td class="w-20p">
                    @item.Mota
                </td>
                <td class="w-10p">
                    @item.MaLoaiCha
                </td>
                <td class="w-8p">
                <td>
                    @item.CreatedDate
                </td>
                <td class="w-8p">
                    @item.UpdatedDate
                </td>
                <td class="w-15p">
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="nc-icon nc-scissors"></i></a> |

                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="nc-icon nc-simple-remove"></i></a>


                </td>
            </tr>
        }
    </tbody>
</table>