@model StoreManagement.Models.KhachHangModel

    <h2>Edit Khách Hàng</h2>
    <hr />

@Html.HiddenFor(Model => Model.Id)
<br />
Tên Khách Hàng : @Html.TextBoxFor(Model => Model.HoTen)
<br />
Email : @Html.TextBoxFor(Model => Model.Email)
<br />
Mật khẩu : @Html.TextBoxFor(Model => Model.MatKhau)
<br />
Đang Hoạt Động : @Html.TextBoxFor(Model => Model.DangHoatDong)
<br />
Nhận Quảng Cáo : @Html.TextBoxFor(Model => Model.NhanQuangCao)
<br />
Tạo bởi : @Html.TextBoxFor(Model => Model.CreatedBy)
<br />
Ngày tạo : @Html.TextBoxFor(Model => Model.CreatedDate)
<br />
Ngày sửa : @Html.TextBoxFor(Model => Model.UpdatedDate)
<br />
Sửa bởi : @Html.TextBoxFor(Model => Model.UpdatedBy)
<br />

<hr />

<input type="button" value="Update" onclick="khachhangupdate()" />

<script>
    function khachhangupdate()
    {
        var id = $("#id").val();
        var tenkhachhang = $("#tenkhachhang").val();
        var email = $("#email").val();
        var matkhau = $("#matkhau").val();
        var danghoatdong = $("#danghoatdong").val();
        var nhanquangcao = $("#nhanquangcao").val();
        var taoboi = $("#taoboi").val();
        var ngaytao = $("#ngaytao").val();
        var ngaysua = $("#ngaysua").val();
        var suaboi = $("#suaboi").val();

        var updatekhachhang = { "id": id, "tenkhachhang": tenkhachhang, "email": email, "matkhau": matkhau, "danghoatdong": danghoatdong, "nhanquangcao": nhanquangcao, "taoboi": taoboi, "ngaytao": ngaytao, "ngaysua": ngaysua, "suaboi": suaboi }
        $.post('/KhachHang/Edit', updatekhachhang, function (data) { if (data == 0) { location: location.href; } }, 'json');
        alert("Record Updated Successfully" + id);

    }
</script>




@*<div id="contact-form">
    <div>
        <h1>Sửa Loại</h1>
        <h4>Have a question or just want to get in touch? Let's chat.</h4>
    </div>
    <p id="failure">Oopsie...message not sent.</p>
    <p id="success">Your message was sent successfully. Thank you!</p>

    <form asp-action="DoEdit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="TenLoai" class="control-label"></label>
            <input asp-for="TenLoai" class="form-control" />
            <span asp-validation-for="TenLoai" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Mota" class="control-label"></label>
            <input asp-for="Mota" class="form-control" />
            <span asp-validation-for="Mota" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MaLoaiCha" class="control-label"></label>
            <input asp-for="MaLoaiCha" class="form-control" />
            <span asp-validation-for="MaLoaiCha" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="CreatedBy" class="control-label"></label>
            <input asp-for="CreatedBy" class="form-control" />
            <span asp-validation-for="CreatedBy" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreatedDate" class="control-label"></label>
            <input asp-for="CreatedDate" class="form-control" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedDate" class="control-label"></label>
            <input asp-for="UpdatedDate" class="form-control" />
            <span asp-validation-for="UpdatedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedBy" class="control-label"></label>
            <input asp-for="UpdatedBy" class="form-control" />
            <span asp-validation-for="UpdatedBy" class="text-danger"></span>
        </div>
        <div>
            <button name="submit" type="submit" id="submit">SAVE</button>
        </div>

    </form>
    <div>
        <a style="color:white" asp-action="">Back to List</a>
    </div>

</div>*@