@model IEnumerable<StoreManagement.Dtos.KhachHangDto>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card" style="margin-bottom: 11px;"> 
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title"> Simple Table</h4>
                    </div>
                    <div class="update col-md-4">
                        <button type="submit" class="btn btn-primary btn-round pull-right">Thêm mới</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="thead-content">
                    <thead class=" text-primary">
                        <tr>
                            <th class="w-10p">
                                Họ tên
                            </th>
                            <th class="w-12p">
                                Email
                            </th>
                            <th class="w-12p">
                                Mật khẩu
                            </th>
                            <th class="w-5p">
                                Key
                            </th>
                            <th class="w-11p">
                                Đang hoạt động
                            </th>
                            <th class="w-11p">
                                Nhận quảng cáo
                            </th>
                            <th class="w-11p">
                                Loại khách hàng
                            </th>
                            <th class="w-8p">
                                Ngày tạo
                            </th>
                            <th class="w-8p">
                                Ngày sửa
                            </th>
                            <th></th>
                        </tr>
                </table>
                <div class="table-responsive">
                    <table class="table tbl-contents">
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="w-10p">
                                        @Html.DisplayFor(modelItem => item.HoTen)
                                    </td>
                                    <td class="w-12p">
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td class="w-12p">
                                        @Html.DisplayFor(modelItem => item.MatKhau)
                                    </td>
                                    <td class="w-5p">
                                        @Html.DisplayFor(modelItem => item.RandomKey)
                                    </td>
                                    <td class="w-11p">
                                        @Html.DisplayFor(modelItem => item.DangHoatDong)
                                    </td>
                                    <td class="w-11p">
                                        @Html.DisplayFor(modelItem => item.NhanQuangCao)
                                    </td>
                                    <td class="w-11p">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LoaiKhachHang)
                                    </td>
                                    <td class="w-8p">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                    </td>
                                    <td class="w-8p">
                                        @Html.DisplayFor(modelItem => item.UpdatedDate)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="nc-icon nc-scissors"></i></a> |
                                        <a asp-action="Details" asp-route-id="@item.Id"><i class="nc-icon nc-spaceship"></i></a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="nc-icon nc-simple-remove"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin: 0 auto">

    @await Html.PartialAsync("Pagination")
</div>