

@model List<ChiTietDHModel>
@{
    ViewData["Title"] = "Chi Tiết Đơn Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Chi Tiết Đơn Hàng</h4>
            </div>

            <button style="padding: 10px 10px; background: yellow "><a href="/ChiTietDH/Add/">Add</a></button>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            Id
                        </th>
                        <th>
                            Created By
                        </th>
                        <th>
                            Created Date
                        </th>
                        <th>
                            Updated Date
                        </th>
                        <th>
                            Updated By
                        </th>
                        <th>
                            Is Deleted
                        </th>
                        <th>
                            Mã Đơn Hàng
                        </th>
                        <th>
                            Đơn Giá
                        </th>
                        <th>
                            Số Lượng
                        </th>
                        <th>
                            Edit
                        </th>
                        <th>
                            Delete
                        </th>

                        </thead>
                        <tbody>
                            @*@await Html.PartialAsync("Pagination")*@

                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.CreatedBy</td>
                                        <td>@item.CreatedDate</td>
                                        <td>@item.UpdatedDate</td>
                                        <td>@item.UpdatedBy</td>
                                        <td>@item.IsDeleted</td>
                                        <td>@item.MaDH</td>
                                        <td>@item.DonGia</td>
                                        <td>@item.SoLuong</td>


                                        <td>
                                            <button style="background: yellow"><a href="/ChiTietDH/Edit/@item.Id">Edit</a></button>
                                        </td>
                                        <td>
                                            <button style="background: yellow"><a href="/ChiTietDH/Delete/@item.Id">Delete</a></button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @await Html.PartialAsync("Pagination")

                </div>
            </div>
        </div>
    </div>
</div>