@model List<HangHoaModel>
@{
    ViewData["Title"] = "Hàng Hóa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Hàng Hóa</h4>
            </div>

            <button style="padding: 10px 10px; background: yellow "><a href="/HangHoa/Add/">Add</a></button>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            Id
                        </th>
                        <th>
                            Tên Hàng Hóa
                        </th>
                        <th>
                            Số Lượng
                        </th>
                        <th>
                            Đơn giá
                        </th>
                        <th>
                            Giảm giá
                        </th>
                        <th>
                            Chi Tiết
                        </th>
                        <th>
                            Edit
                        </th>
                        <th>
                            Delete
                        </th>

                        </thead>
                        @*@await Html.PartialAsync("Pagination")*@
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.TenHH</td>
                                        <td>@item.SoLuong</td>
                                        <td>@item.DonGia</td>
                                        <td>@item.GiamGia</td>
                                        <td>@item.ChiTiet</td>

                                        <td>
                                            <button style="background: yellow"><a href="/HangHoa/Edit/@item.Id">Edit</a></button>
                                        </td>
                                        <td>
                                            <button style="background: yellow"><a href="/HangHoa/Delete/@item.Id">Delete</a></button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @await Html.PartialAsync("Pagination")
                </div>

            </div>
        </div>
    </div>
</div>