@model List<DonHangModel>
@{
    ViewData["Title"] = "Đơn Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Đơn Hàng</h4>
            </div>

            <button style="padding: 10px 10px; background: yellow "><a href="/DonHang/Add/">Add</a></button>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            Id
                        </th>
                        <th>
                            Ngày Lập
                        </th>
                        <th>
                            Phí Vận Chuyển
                        </th>
                        <th>
                            Thành Tiền
                        </th>
                        <th>
                            Tổng Tiền
                        </th>
                        <th>
                            Trạng Thái Đơn Hàng
                        </th>
                        <th>
                            Trạng Thái Thanh Toán
                        </th>
                        <th>
                            Edit
                        </th>
                        <th>
                            Delete
                        </th>

                        </thead>
                        @*@await Html.PartialAsync("Pagination")*@
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.NgayLap</td>
                                        <td>@item.PhiVanChuyen</td>
                                        <td>@item.ThanhTien</td>
                                        <td>@item.TongTien</td>
                                        <td>@item.TrangThaiDonHang</td>
                                        <td>@item.TrangThaiThanhToan</td>

                                        <td>
                                            <button style="background: yellow"><a href="/DonHang/Edit/@item.Id">Edit</a></button>
                                        </td>
                                        <td>
                                            <button style="background: yellow"><a href="/DonHang/Delete/@item.Id">Delete</a></button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @await Html.PartialAsync("Pagination")
                </div>
            </div>
        </div>
    </div>
</div>