@model StoreManagement.Dtos.Respones.SearchResult<DonHangModel>

@{
    ViewData["Title"] = "DonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var paging = Tuple.Create(Model.TotalRecords, Model.PageSize,"DonHang");
}
<div class="row">
    <div class="col-md-12">
        <div class="card" style="margin-bottom: 11px;">
            <div class="card-header">
                <div class="row">
                    <form class="update col-md-2" action="https://localhost:44319/DonHang/Add">
                        <button type="submit" class="btn btn-primary btn-round">Thêm mới</button>
                    </form>
                    <div class="col-md-10">
                        <form name="timkiem" style="width: 300px; padding-top: 11px; " class="pull-right">
                            <div class="form-group from-inline">
                                <input placeholder="Nhập trạng thái đơn hàng" type="text" name="searchkey" id="search-DonHang" class="form-control form-inline" />
                                <input type="submit" name="submit" value="Tìm Kiếm" class="form-control" onclick="search(event)" id="btn-search" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="thead-content">
                    <thead class=" text-primary">
                        <tr>
                            <th class="w-3p">
                                STT
                            </th>
                           
                            <th class="w-10p">
                                Phí Vận Chuyển
                            </th>
                            <th class="w-5p">
                                Tổng Tiền
                            </th>
                            <th class="w-10p">
                                Trạng Thái Đơn Hàng
                            <th class="w-10p">
                                Trạng Thái Thanh Toán
                            </th>
                            <th class="w-5p">Thao tác</th>
                        </tr>
                </table>
                <div class="table-responsive">
                    <table class="table tbl-contents">
                        <tbody>
                            @{
                                var count = 0;
                            }
                            @foreach (var item in Model.Data.ToList())
                            {
                                count++;
                            <tr>
                                <td class="w-3p">
                                    @count
                                </td>
                            
                                <td class="w-10p">
                                    @item.PhiVanChuyen
                                </td>
                                <td class="w-5p">
                                    @item.TongTien
                                </td>
                                <td class="w-10p">
                                    @item.TrangThaiDonHang
                                </td>
                                <td class="w-10p">
                                    @item.TrangThaiThanhToan
                                </td>
                                <td class="w-5p">
                                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="nc-icon nc-scissors"></i></a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="nc-icon nc-simple-remove"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin: 0 auto">

    @await Html.PartialAsync("Pagination", paging)
</div>

<script>
    function search(event) {
        event.preventDefault();

        var searchTxt = $('#search-DonHang').val();

        var path = `${window.location.origin}/DonHang?pageIndex=1&pageSize=20&trangthaidonhang=${searchTxt}`;

        window.location.href = path;
    }
</script>