@*
    Item1: TotalRecords
    Item2: PageSize
    Item3: MenuName
*@

@model Tuple<int, int, string>
@{
    var totalPages = Model.Item1 % Model.Item2 == 0 ? Model.Item1 / Model.Item2 : Model.Item1 / Model.Item2 + 1;
}
<nav aria-label="Page navigation example" style="margin-top: 0;">
    <p id="TotalRecords" class="pull-left">Total records: @Model.Item1</p>
    <ul class="pagination justify-content-end">
        <li>
            <select style="padding:8px 2px" name="number" id="number_id" onchange="DoPaging(1, this.value, '@Model.Item3', 1, true,@Model.Item1)">
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="400">400</option>
            </select>
        </li>
        <li class="page-item active-pre hide">
            <a class="page-link " onclick="DoPaging(0, @Model.Item2, '@Model.Item3', @totalPages, 1, false,@Model.Item1)" href="#" tabindex="-1">Previous</a>
        </li>

        @for (var i = 1; i <= totalPages; i++)
        {
            var active = "";
            if (i == 1) active = "active";
            <li id="page" class="page-item @active page-item-@i" index="@i"><a id="bodyClick" class="page-link page-link-@i" onclick="DoPaging(@i, @Model.Item2, '@Model.Item3', @totalPages, 0, false,@Model.Item1)" href="#">@i</a></li>
        }

        <li class="page-item active-next">
            <a class="page-link" onclick="DoPaging(0, @Model.Item2, '@Model.Item3', @totalPages, 2, false,@Model.Item1)" href="#">Next</a>
        </li>
    </ul>

</nav>

<script src="~/js/paging.js"></script>